#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Name=PyCharm
Icon=pycharm
Exec=sh -c "$HOME/pycharm_autolicense/pycharm_autolicense.py pycharm"
Categories=Application;
